.content-list24-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list24-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list24-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list24-li {
  align-items: flex-start;
}
.content-list24-ul1 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list24-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list24-text07 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.content-list24-text10 {
  align-self: flex-start;
}
.content-list24-text12 {
  align-self: flex-start;
}
.content-list24-text14 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 767px) {
  .content-list24-ul1 {
    padding-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .content-list24-ul1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
