.features42-layout301 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features42-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features42-text {
  text-align: center;
}
.features42-row {
  width: 100%;
}
.features42-feature1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features42-content {
  align-self: stretch;
  align-items: center;
}
.features42-section-title {
  align-self: stretch;
  align-items: center;
}
.features42-title1 {
  text-align: center;
}
.features42-description1 {
  text-align: center;
}
.features42-action {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
.features42-button {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  text-decoration: none;
}
.features42-feature2 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features42-content1 {
  align-self: stretch;
  align-items: center;
}
.features42-section-title1 {
  align-self: stretch;
  align-items: center;
}
.features42-title2 {
  text-align: center;
}
.features42-description2 {
  text-align: center;
}
.features42-action1 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
.features42-button1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  text-decoration: none;
}
.features42-feature3 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features42-content2 {
  align-self: stretch;
  align-items: center;
}
.features42-section-title2 {
  align-self: stretch;
  align-items: center;
}
.features42-title3 {
  text-align: center;
}
.features42-description3 {
  text-align: center;
}
.features42-action2 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
.features42-button2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .features42-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .features42-feature1 {
    width: 100%;
  }
  .features42-feature2 {
    width: 100%;
  }
  .features42-feature3 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .features42-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .features42-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
