.features41-layout301 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features41-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features41-text {
  text-align: center;
}
.features41-row {
  width: 100%;
}
.features41-feature1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features41-content {
  align-self: stretch;
  align-items: center;
}
.features41-section-title {
  align-self: stretch;
  align-items: center;
}
.features41-title1 {
  text-align: center;
}
.features41-description1 {
  text-align: center;
}
.features41-action {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
.features41-button {
  color: #ffffff;
  border-color: #ffffff;
  border-width: 2px;
}
.features41-icon {
  fill: #D9D9D9;
}
.features41-feature2 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features41-content1 {
  align-self: stretch;
  align-items: center;
}
.features41-section-title1 {
  align-self: stretch;
  align-items: center;
}
.features41-title2 {
  text-align: center;
}
.features41-description2 {
  text-align: center;
}
.features41-action1 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
.features41-button1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  border-color: #ffffff;
  border-width: 2px;
}
.features41-feature3 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features41-content2 {
  align-self: stretch;
  align-items: center;
}
.features41-section-title2 {
  align-self: stretch;
  align-items: center;
}
.features41-title3 {
  text-align: center;
}
.features41-description3 {
  text-align: center;
}
.features41-action2 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
.features41-button2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  border-color: #ffffff;
  border-width: 2px;
}
@media(max-width: 991px) {
  .features41-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .features41-feature1 {
    width: 100%;
  }
  .features41-feature2 {
    width: 100%;
  }
  .features41-feature3 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .features41-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .features41-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
