.navbar51-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar51-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar51-image1 {
  height: 3rem;
}
.navbar51-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar51-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar51-link4 {
  z-index: 100;
  border-radius: var(--dl-radius-radius-radius4);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar51-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar51-link5-dropdown-trigger {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar51-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar51-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar51-icon {
  width: 24px;
  height: 24px;
}
.navbar51-container3 {
  top: 30px;
  right: 0px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  animation-name: fadeInDown;
  flex-direction: column;
  animation-delay: 0s;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.navbar51-menu-item {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.navbar51-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-page1 {
  white-space: nowrap;
}
.navbar51-menu-item1 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.navbar51-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-page2 {
  white-space: nowrap;
}
.navbar51-menu-item2 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.navbar51-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-page3 {
  white-space: nowrap;
}
.navbar51-menu-item3 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.navbar51-content3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-page4 {
  white-space: nowrap;
}
.navbar51-burger-menu {
  display: none;
}
.navbar51-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar51-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar51-nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.navbar51-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar51-logo {
  height: 2rem;
}
.navbar51-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar51-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar51-links1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.navbar51-link5-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.navbar51-icon-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar51-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar51-icon06 {
  width: 24px;
  height: 24px;
}
.navbar51-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar51-icon08 {
  width: 24px;
  height: 24px;
}
.navbar51-container6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.navbar51-menu-item4 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.navbar51-content4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-page11 {
  white-space: nowrap;
}
.navbar51-menu-item5 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.navbar51-content5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-page21 {
  white-space: nowrap;
}
.navbar51-menu-item6 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.navbar51-content6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-page31 {
  white-space: nowrap;
}
.navbar51-menu-item7 {
  gap: 12px;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.navbar51-content7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar51-page41 {
  white-space: nowrap;
}
.navbar51-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.navbar51-icon12 {
  height: var(--dl-size-size-xsmall);
}
.navbar51-icon14 {
  height: var(--dl-size-size-xsmall);
}
.navbar51-container7 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 767px) {
  .navbar51-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar51-desktop-menu {
    display: none;
  }
  .navbar51-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar51-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar51-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
