.steps22-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.steps22-max-width {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.steps22-container1 {
  align-items: start;
}
.steps22-section-header {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}
.steps22-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.steps22-button {
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 2px;
  text-decoration: none;
  background-color: transparent;
}
.steps22-container2 {
  grid-area: span 1/span 1/span 1/span 1;
}
.steps22-container3 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
.steps22-text04 {
  text-align: center;
}
.steps22-container4 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent2);
}
.steps22-text06 {
  text-align: center;
}
.steps22-container5 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
.steps22-text08 {
  text-align: center;
}
.steps22-container6 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-accent2);
}
.steps22-text10 {
  text-align: center;
}
@media(max-width: 991px) {
  .steps22-max-width {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .steps22-section-header {
    position: static;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .steps22-actions {
    width: 100%;
    align-self: flex-start;
  }
  .steps22-container3 {
    width: 100%;
  }
  .steps22-container4 {
    width: 100%;
  }
  .steps22-container5 {
    width: 100%;
  }
  .steps22-container6 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .steps22-button {
    width: 100%;
  }
}
