.team9-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.team9-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team9-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team9-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
.team9-slider-slide {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image {
  width: 80px;
  height: 80px;
}
.team9-content01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text03 {
  font-style: normal;
  font-weight: 600;
}
.team9-text04 {
  text-align: center;
}
.team9-text05 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-card01 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image01 {
  width: 80px;
  height: 80px;
}
.team9-content02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title01 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text06 {
  font-style: normal;
  font-weight: 600;
}
.team9-text07 {
  text-align: center;
}
.team9-text08 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-slide1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card02 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image02 {
  width: 80px;
  height: 80px;
}
.team9-content03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title02 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text09 {
  font-style: normal;
  font-weight: 600;
}
.team9-text10 {
  text-align: center;
}
.team9-text11 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-card03 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image03 {
  width: 80px;
  height: 80px;
}
.team9-content04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title03 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text12 {
  font-style: normal;
  font-weight: 600;
}
.team9-text13 {
  text-align: center;
}
.team9-text14 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-slide2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card04 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image04 {
  width: 80px;
  height: 80px;
}
.team9-content05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title04 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text15 {
  font-style: normal;
  font-weight: 600;
}
.team9-text16 {
  text-align: center;
}
.team9-text17 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-card05 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image05 {
  width: 80px;
  height: 80px;
}
.team9-content06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title05 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text18 {
  font-style: normal;
  font-weight: 600;
}
.team9-text19 {
  text-align: center;
}
.team9-text20 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-pagination {
  display: block;
}
.team9-slider1 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
.team9-slider-slide3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card06 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image06 {
  width: 80px;
  height: 80px;
}
.team9-content07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title06 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text21 {
  font-style: normal;
  font-weight: 600;
}
.team9-text22 {
  text-align: center;
}
.team9-text23 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-slide4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card07 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image07 {
  width: 80px;
  height: 80px;
}
.team9-content08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title07 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text24 {
  font-style: normal;
  font-weight: 600;
}
.team9-text25 {
  text-align: center;
}
.team9-text26 {
  overflow: hidden;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-slide5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card08 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image08 {
  width: 80px;
  height: 80px;
}
.team9-content09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title08 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text27 {
  font-style: normal;
  font-weight: 600;
}
.team9-text28 {
  text-align: center;
}
.team9-text29 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-slide6 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card09 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image09 {
  width: 80px;
  height: 80px;
}
.team9-content10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title09 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text30 {
  font-style: normal;
  font-weight: 600;
}
.team9-text31 {
  text-align: center;
}
.team9-text32 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-slide7 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card10 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image10 {
  width: 80px;
  height: 80px;
}
.team9-content11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title10 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text33 {
  font-style: normal;
  font-weight: 600;
}
.team9-text34 {
  text-align: center;
}
.team9-text35 {
  overflow: hidden;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-slide8 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.team9-card11 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-placeholder-image11 {
  width: 80px;
  height: 80px;
}
.team9-content12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-title11 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9-text36 {
  font-style: normal;
  font-weight: 600;
}
.team9-text37 {
  text-align: center;
}
.team9-text38 {
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.team9-social-icons11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team9-slider-pagination1 {
  display: block;
}
.team9-content13 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
.team9-content14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team9-text39 {
  font-stretch: normal;
}
.team9-button {
  width: 100%;
  max-width: 300px;
}
@media(max-width: 767px) {
  .team9-slider {
    display: none;
  }
  .team9-slider1 {
    display: block;
  }
}
@media(max-width: 479px) {
  .team9-text {
    text-align: center;
  }
  .team9-text02 {
    text-align: center;
  }
  .team9-text40 {
    text-align: center;
  }
  .team9-button {
    width: 100%;
  }
}
